beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
google_streetview==1.2.9
idna==3.7
kwconfig==1.1.7
numpy==2.0.1
python-dotenv==1.0.1
requests==2.32.3
setuptools==69.5.1
soupsieve==2.5
urllib3==2.2.2
wheel==0.43.0
